body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #1abc9c, #3498db);
}

canvas {
    background-image: url('pxfuel.jpg'); /* Replace 'your-image-url' with the actual image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffffff;
}


.hidden {
    display: none;
}

#gameOverScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px 15px;
    background-color: #33A02C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.score-display {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    z-index: 1;
}



